{% extends 'base.html' %}
{% block title %}Вы вышли из системы{% endblock %}
{% block content %}
<div class="row justify-content-center" style="margin-top: 100px">
  <div class="col-md-4 p-5" align="center">
    <div class="card">
      <div class="card-header" style="background-color: #BF442A; color: #E5E7E9">
        Выход
      </div>
      <div class="card-body">
        <p style="color: #232323">
          Так и знал, что ты уйдешь
        </p>
      </div>
    </div>
  </div> 
</div>
{% endblock %} 